body {
  background-color: #edf2f2;
  display: grid;
  font-family: "Open Sans", sans-serif;
  grid-template-rows: 0.5fr 2fr 5fr;
}

header {
  background-color: #322a30;
  color: #b2a1b1;
  display: flex;
  grid-row: 1;
  position: relative;
}

h1 {
  bottom: 1%;
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: .05rem;
  margin-left: 3%;
}

span {
  color: #fff;
}

.search {
  border-radius: 5px;
  border: solid 2px #ACAAB6;
  bottom: 30%;
  height: 35px;
  justify-content: flex-end;
  position: absolute;
  right: 3%;
}

#search-field {
  padding: 0 0 0 7px;
  width: 25%;
}

#search-btn {
  background-color: #ACAAB6;
  cursor: pointer;
  padding: 3px 0 0 0;
  width: 39px;
}

.form {
  background-color: #edf2f2;
  display: grid;
  grid-row: 2;
  grid-template-columns: 25% 50% 25%;
}

.form h2, #idea-title, #title-input, #idea-body, #body-input, #save-btn {
  grid-column: 2;
}

h2 {
  font-weight: 300;
  margin-bottom: 0;
}

#title-input:focus {
  outline-color: #524649;
}

.idea-inputs {
  border-radius: 5px;
  border: solid 2px #ACAAB6;
  height: 41px;
}

textarea {
  resize: none;
}

#body-input {
  height: 100px;
}

#body-input:focus {
  outline-color: #524649;
}

#save-btn {
  background-color: #6e646b;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  height: 41px;
  margin: 24px 0 24px 0;
}

.ideas {
  background-color: #fbfdfd;
  display: grid;
  grid-row: 3;
  grid-template-columns: 25% 50% 25%;
}

.idea-box {
  border: solid 2px #ACAAB6;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-column: 2;
  display: grid;
  grid-template-rows: 26% 53% 21%;
}

.idea-box-title {
  color: #5E5C6B;
  font-weight: 800;
  font-size: 2rem;
  padding: 1rem;
  margin: 0;
  grid-row: 1;
}

.idea-box-body {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
  grid-row: 2;
}

.quality-section{
  display: flex;
  border-top: solid #ACAAB6 2px;
  align-items: center;
  justify-content: space-between;
}

.quality-section div {
  display: flex;
  align-items: center;
}

.quality {
  display: inline;
  color: #5E5C6B;
  font-weight: 800;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.buttons{
  height: 1.5rem;
  padding: 2px 5px 0 5px;
  margin: 0;
}

@media only screen and (max-width: 550px) {
  
  h1 {
    bottom: 40%;
    font-size: 10vw;
    left: 10%;
    margin: 0;
    position: absolute;
  }

  .form, 
  .ideas {
    grid-template-columns: 10% 80% 10%;
    margin: 10px 0 0 0;
    display:;
  }

  .search {
    bottom: 8%;
    left: 10%;
  }

  #search-field {
    padding: 0 0 0 50px;
    width: 77%;
  }

  .idea-box {
    margin: 1.5rem auto;
    display: inline;
    height: auto;
  }

  .idea-box-title {
    margin-bottom: 10px;
  }
}